/*------PROMOTION AREA STYLES--------*/

#space{
  height: 10rem;
}

#promoArea{
  min-width: 80rem;
  width: 100%;
  text-align: center;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65rem;
}

#promoInfo{
  width: inherit;
  background-color: rgba(0,0,0,0.3);
  height: 65rem;
  margin: auto;
  min-width: 80rem;
}

#promoTitle{
  text-shadow: 0px 1px 50px gray;
  color: white;
  font-weight: bold;
  padding: 5rem 0 1rem 0;
  font-size: 500%;
  font-family: sans-serif;
}

#promoSubTitle{
  color: white;
  font-size: 250%;
  font-family: serif;
}

#promoText{
  text-shadow: 0px 1px 30px black;
  color: white;
  padding: 50rem 0 2rem 0;
  margin: auto;
  width: 50rem;
  font-size: 180%;
  font-family: sans-serif;
}

#reg{
  color: rgb(25,189,155);
  border-color: rgb(25,189,155);
  background-color: rgba(0,0,0,0);
  width: auto;
  margin-top: 30rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 400%;
  border: 4px solid;
  border-radius: 0.5rem;
  font-weight: bold;
  font-family: sans-serif;
}

#reg:hover{
  background-color: rgba(255,255,255,0.1);
}

#registerArea{
  min-width: 80rem;
}

#registerFormArea{
  display: none;
  text-align: center;
  background-color: rgba(50,50,50,0.5);
  width: 40rem;
  margin: auto;
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 10px 50px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 50 -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 50 -5px rgba(0,0,0,0.75);
}

#usernameLabel,#passwordLabel,#nameLabel{
  font-family: sans-serif;
  font-size: 200%;
  color: white;
}

#usernameReg,#passwordReg,#nameReg{
  border: 0.3rem solid rgb(23,160,134);
  border-radius: 1px;
  width: 20rem;
  margin-top: 1rem;
  font-size: 200%;
}

#usernameReg:focus,#passwordReg:focus,#nameReg:focus{
  border: 0.3rem solid rgb(198,38,137);
}

#submit{
  display: none;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 10rem;
}
