
/*------ERROR BLOCKS--------*/

#errorBlock{
  visibility: hidden;
  position: absolute;
  padding: 0.5rem;
  top: 4.5rem;
  color: red;
  border: 2px solid red;
  width: 15rem;
  right: 10rem;
  background-color: rgb(254,200,200);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
}

#registerError{
  visibility: hidden;
  padding: 0.5rem;
  color: red;
  border: 2px solid red;
  width: 25rem;
  margin: auto;
  margin-bottom: 2rem;
  background-color: rgb(254,200,200);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
}


/*------MAIN TAGS--------*/

*{
  margin: 0;
}

body{
  min-width: 70rem;
  background-color: rgb(233,234,237);
}

a{
  text-decoration: none;
  color: white;
}

body > footer{
  width: 100%;
  min-width: 80rem;
  background-color: rgb(23,160,134);
  padding-top: 5rem;
  padding-bottom: 7rem;
  text-align: center;
  font-family: sans-serif;
}

#feupLogo{
  width: 20rem;
  padding-bottom: 1rem;
}


/*------NAVIGATION STYLES--------*/

#title{
  font-size: 200%;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: white;
  padding-left: 3rem;
  padding-top: 1rem;
}

nav{
  background-color: rgb(25,189,155);
  width: 100%;
  min-width: 60rem;
  top: 0;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 67px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 67px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 67px -5px rgba(0,0,0,0.75);
}

nav > * {
  display: inline-block;
}

#loginForm * {
  display: inline-block;
}

#loginBlock{
  padding-right: 3rem;
  float: right;
}

#profileIcon{
  border-radius: 50%;
  padding: 0;
  width: 2rem;
  height: 2rem;
}

.label1{
  margin-left: 1rem;
  font-size: 120%;
}

.navItem{
  color: white;
  font-family: sans-serif;
}





/*------PROMOTION AREA STYLES--------*/

#space{
  height: 10rem;
}

#promoArea{
  min-width: 80rem;
  width: 100%;
  text-align: center;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65rem;
}

#promoInfo{
  width: inherit;
  background-color: rgba(0,0,0,0.3);
  height: 65rem;
  margin: auto;
  min-width: 80rem;
}

#promoTitle{
  text-shadow: 0px 1px 50px gray;
  color: white;
  font-weight: bold;
  padding: 5rem 0 1rem 0;
  font-size: 500%;
  font-family: sans-serif;
}

#promoSubTitle{
  color: white;
  font-size: 250%;
  font-family: serif;
}

#promoText{
  text-shadow: 0px 1px 30px black;
  color: white;
  padding: 50rem 0 2rem 0;
  margin: auto;
  width: 50rem;
  font-size: 180%;
  font-family: sans-serif;
}

#reg{
  color: rgb(25,189,155);
  border-color: rgb(25,189,155);
  background-color: rgba(0,0,0,0);
  width: auto;
  margin-top: 30rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 400%;
  border: 4px solid;
  border-radius: 0.5rem;
  font-weight: bold;
  font-family: sans-serif;
}

#reg:hover{
  background-color: rgba(255,255,255,0.1);
}

#registerArea{
  min-width: 80rem;
}

#registerFormArea{
  display: none;
  text-align: center;
  background-color: rgba(50,50,50,0.5);
  width: 40rem;
  margin: auto;
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 10px 50px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 50 -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 50 -5px rgba(0,0,0,0.75);
}

#usernameLabel,#passwordLabel,#nameLabel{
  font-family: sans-serif;
  font-size: 200%;
  color: white;
}

#usernameReg,#passwordReg,#nameReg{
  border: 0.3rem solid rgb(23,160,134);
  border-radius: 1px;
  width: 20rem;
  margin-top: 1rem;
  font-size: 200%;
}

#usernameReg:focus,#passwordReg:focus,#nameReg:focus{
  border: 0.3rem solid rgb(198,38,137);
}

#submit{
  display: none;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 10rem;
}







/*-------USER MAIN AREA----------*/

#loginBlock > * {
  display: inline-block;
  height: 4rem;
}

#userNavArea > *{
  display: inline-block;
}

#userNameNav{
  padding: 1rem;
  font-family: sans-serif;
  font-size: 120%;
  color: white;
}

#userNameNav:hover{
  background-color: rgb(23,160,134);
  cursor: pointer;
  cursor: hand;
}

#userNameNav > *{
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.5rem;
}

#userArea{
  height: 100rem;
}

#profileTabMenu{
  display: none;
  padding-top: 1rem;
  position:absolute;
  top: 4rem;
  right: 3rem;
  color: white;
  width: 16.4rem;
  max-width: 16.4rem;
  min-width: 16.4rem;
  height: auto;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  background-color: rgb(150,150,150);
  text-align: center;
  border-radius: 0 0 0.3rem 0.3rem;
  -webkit-box-shadow: 0px 14px 36px -1px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 14px 36px -1px rgba(0,0,0,0.38);
  box-shadow: 0px 14px 36px -1px rgba(0,0,0,0.38);
}

#profileTabMenu > ul{
  padding: 0;
  list-style: none;
  border-top: 0.2rem solid rgb(23,160,134);
}

#profileTabMenu > ul > li{
  list-style: none;
  color: white;
  font-size: 200%;
  background-color: rgb(25,189,155);
  border-bottom: 0.2rem solid rgb(23,160,134);
}

#profileTabMenu > ul > li > a{
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  width: 100%;
  height: 100%;
}

#profileTabMenu > ul > li:hover{
  background-color: rgb(23,160,134);
  cursor: pointer;
  cursor: hand;
}

#profileTabMenu > ul:last-child{
  margin-bottom: 2rem;
}

#userNameMenuLabel{
  width: auto;
  margin-bottom: 1rem;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 120%;
  color: white;
}







/*-------USER EVENTS AREA----------*/

#content-events{
  width: 70rem;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
  min-height: 40rem;
}

#joined-events-area{
  float: left;
  width: 30rem;
  height: 100%;
  margin-left: 3.25rem;
}

#my-events-area{
  float: left;
  width: 30rem;
  height: 100%;
}

#events-button{
  clear: both;
  text-align: center;
}

#events-more{
  font-size: 200%;
  width: 10rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.events-section-title{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 0.1rem;
  font-family: sans-serif;
  font-size: 200%;
  background-color: rgb(198,38,137);
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.38);
}

.events-section-title-right{
  background-color: rgb(23,160,134);
}

.events-section-content{
  margin-top: 2rem;
  text-align: center;
  color: black;
  font-family: sans-serif;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.38);
  height: 12rem;
  position: relative;
  cursor: pointer;
  cursor: hand;
}

.events-section-content:hover{
  -webkit-box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.38);
}

.events-section-content > img{
  width: 100%;
  height: 100%;
}

.events-content{
  text-align: left;
  position: absolute;
  top: 60%;
  width: 100%;
  opacity: 0.9;
  height: 40%;
  background-color: rgb(198,38,137);
  border-top: 0.1rem solid rgba(100,0,0,0.5);
}

.events-content-right{
  background-color: rgb(23,160,134);
  border-top: 0.1rem solid rgba(0,100,0,0.5);
}

.events-content-title{
  color: white;
  font-size: 150%;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.events-content-type{
  padding-left: 0.5rem;
  font-style: oblique;
  font-weight: bold;
  float: left;
}

.events-content-date{
  color: white;
  padding-left: 1rem;
  padding-right: 0.5rem;
  border-right: 0.1rem solid rgba(100,0,0,0.5);
  float: left;
}

.events-content > a{
  float: right;
  color: rgb(100,0,0);
  background-color: white;
  border: 0.1rem solid rgb(100,0,0);
  border-radius: 0.1rem;
  padding: 0.1rem;
  margin-right: 1rem;
}

.events-content > a:hover{
  color: white;
  background-color: rgb(100,0,0);
}






/*---------EVENT PAGE------------*/

#event-main-area{
  width: 50rem;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 5rem;
  border: 0.5rem solid rgb(198,37,137);
  border-radius: 0.4rem;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.38);
}

#event-main-area > header{
  padding-bottom: 1rem;
  position: relative;
  background-color: rgb(198,37,137);
}

#event-main-area > header > *{
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: sans-serif;
}

#event-main-area > img{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  width: 100%;
  height: 20rem;
}

#event-main-area > header > h1{
  font-size: 3rem;
  font-family: sans-serif;
  color: white;
  border-bottom: 0.1rem solid rgb(100,0,0);
}

#event-main-area > header > h2{
  font-size: 2rem;
  color: black;
}

#event-main-area > header > h3{
  font-size: 1.5rem;
  color: white;
}

#event-main-area > header > h4{
  font-size: 1rem;
  position: absolute;
  color: white;
  bottom: 3rem;
  right: 0;
}

#event-main-area > main > div > div > a{
  color: rgb(150,0,0);
  font-family: sans-serif;
  font-size: 110%;
  border: 0.1rem solid rgb(150,0,0);
  background-color: rgba(0,0,0);
  text-align: center;
  width: 7rem;
  margin-left: 1rem;
  border-radius: 0.2rem;
  outline: none;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  float: right;
}

#event-main-area > main > div > div > a:hover{
  border: 0.1rem solid white;
  color: white;
  background-color: rgb(150,0,0);
}

#event-main-area > main > div > div > h3{
  width: auto;
  font-family: sans-serif;
  padding-bottom: 1rem;
  float: left;
}

#event-main-area > header > h4 > a{
  color: black;
  text-decoration: underline;
}

#event-main-area > header > h4 > a:hover{
  color: blue;
}

#event-main-area > main {
  font-size: 1rem;
  padding-bottom: 4rem;
  color: black;
  background-color: white;
}

#event-main-area > main > h3 {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
  font-size: 2rem;
  font-family: sans-serif;
  color: rgb(198,37,137);
}

#event-main-area > main > p {
  font-size: 1.5rem;
  padding-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  word-wrap: break-word;
  font-family: serif;
  width: 20rem;
  height: 10rem;
  float: left;
}

#event-main-area > main > div {
  float: left;
  width: 20rem;
  color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(23,160,134);
}

#event-main-area > main > footer {
  clear: both;
}

aside{
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 10rem;
  color: black;
  font-family: sans-serif;
  background-color: white;
}

aside > a{
  display: block;
  padding-left: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

aside > a:hover{
  background-color: rgb(230,230,230);
}

aside > a > img{
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  float: left;
}

aside > a > h3{
  color: black;
  padding-left: 2.5rem;
  padding-top: 0.5rem;
}

aside > div{
  clear: both;
}

#comment-begin{
  color: rgb(198,37,137);
  font-size: 400%;
  margin: auto;
  width: 50rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

#your-comment{
  font-family: sans-serif;
  width: 50rem;
  margin: auto;
  border: 0.5rem solid rgb(23,160,134);
  border-radius: 0.2rem;
  margin-bottom: 5rem;
}

#your-comment > header{
  padding: 0.5rem;
  background-color: rgb(23,160,134);
  line-height: 1rem;
}

#your-comment > header > img{
  background-color: white;
  border: 0.2rem solid white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

#your-comment > header > h2{
  color: white;
  padding-left: 1rem;
  font-size: 200%;
  display: inline-block;
  vertical-align: middle;
}

#your-comment > main{
  background-color: rgb(23,160,134);
}

#your-comment > main > h1{
  background-color: rgb(25,189,155);
  color: rgb(198,37,137);
  padding: 0.5rem;
}

#your-comment > main > form{
  background-color: rgb(23,160,134);
}

#your-comment > main > form > textarea{
  overflow: auto;
  height: 10rem;
  background: white;
  color: grey;
  font-size: 150%;
  font-family: sans-serif;
  width: 50rem;
  margin: 0;
  border: 0;
  resize: none;
  box-sizing: border-box;
}

#your-comment > main > form > input{
  float: right;
  width: 7rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}

#your-comment > main > footer{
  clear: both;
}


/* comments
<!-- COMMENTS SECTION -->
<section id="users-comments-section">
  <?php foreach ($comments as $comment) { ?>
    <section>
      <header>
        <img src=<?=$comment["imagePath"] ?>>
        <a href=<?= 'profile.php?uid=' . $comment["id"] ?>> <?=$user['username']?> </a>
        <div></div>
      </header>
      <main>
      </main>
    </section>
  <?php } ?>
</section>
*/
#users-comments-section{
  font-family: sans-serif;
  width: 45rem;
  margin: auto;
  border: 0.5rem solid rgb(23,160,134);
  border-radius: 0.2rem;
  margin-bottom: 5rem;
}

#users-comments-section > header{
  background-color: rgb(23,160,134);
  padding-bottom: 0.5rem;
}

#users-comments-section > header > img{
  background-color: white;
  border: 0.2rem solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

#users-comments-section > header > a{
  color: white;
  padding-left: 1rem;
  font-size: 150%;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

#users-comments-section > header > a:hover{
  text-decoration: underline;
}

#users-comments-section > main {
  background-color: rgb(23,160,134);
}

#users-comments-section > main > textarea{
  word-wrap: break-word;
  background: white;
  color: grey;
  height: 10rem;
  font-size: 140%;
  font-family: sans-serif;
  width: 45rem;
  margin: 0;
  border: 0;
  resize: none;
  box-sizing: border-box;
}








/*------INPUT TAGS STYLES--------*/

input[type="file"]{
  color: rgb(23,160,134);
  width: 10rem;
}

input[type="button"]{
  color: rgb(23,160,134);
  font-family: sans-serif;
  font-size: 120%;
  border: 2px solid rgb(23,160,134);
  background-color: white;
  text-align: center;
  width: 6rem;
  margin-left: 1rem;
  border-radius: 5px;
  outline: none;
}

input[type="button"]:hover{
  border: 2px solid white;
  cursor: pointer;
  cursor: hand;
  color: white;
  background-color: rgb(23,160,134);
}

input[type="text"],input[type="password"]{
  font-size: 130%;
  color: gray;
  width: 8rem;
  outline: none;
  border: none;
  border-radius: 5px;
  border-bottom: solid 5px rgb(23,160,134);
  transition: border 0.5s;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input[type="text"]:focus,
input[type="text"].focus,
input[type="password"]:focus,
input[type="password"].focus {
  border-bottom: 5px solid rgb(198,38,137);
}
